<li>
    <img src="{{this.url}}" class="min-w-36 min-h-36 w-36 h-36 m-3 shadow-lg border-2 border-white" alt="{{this.songName}}">
    <p class="border-2 border-white m-3 text-black bg-white">{{this.songName}}</p>
</li>