<tr>
  <td class="px-6 py-3">{{this.music.title}}</td>
  <td class="px-6 py-3">{{this.music.artist.name}}</td>
  <td class="px-6 py-3 hidden lg:flex">{{this.music.album}}</td>
  <td class="text-center px-6 py-3">{{roundAvg this.averageRating}}</td>
</tr>