<li>
    <div class="flex inline items-center justify-between">
    <img src="{{this.url}}" class="w-16 h-16 p-2 rounded-full">
    <p class="font-semibold text-center">{{this.songName}}</p>
    <div class="font-semibold ml-4 sm:hidden md:text-sm">{{this.rating}}⭐</div>
    </div>
</li>