<li>
    <div class="flex inline items-center justify-between">
    <img src="{{this.url}}" class="w-16 h-16 p-2 rounded-full">
    <p class="font-semibold">{{this.songName}}</p>
    <div class="font-semibold ml-4">{{this.rating}}⭐</div>
    </div>
</li>
