  <li class="{{#isEven @index}}bg-slate-300 hover:bg-purple-700 hover:text-white{{else}}bg-slate-100  hover:bg-purple-700 hover:text-white{{/isEven}} flex inline">
  <img src="{{this.url}}" class="w-14 h-14 m-6 rounded-full">
    <div class="flex inline items-center justify-end">
      <p class="p-1 font-semibold ">{{this.songName}}</p>
    </div>
  </li>