<div class="flex flex-col items-center min-h-screen m-4">
  <p class="text-center my-4"><strong>404 Error: You horse'd around and found out</strong></p>
  <img class="sm:w-4/5 md:w-1/2" src="/images/404.jpg" alt="404 error image" />
  <p class="text-center text-xs">Photo by <a href="https://unsplash.com/@yufanshi" class="underline">Ivan Shi</a></p>
</div>