<div class="table-row">
    <div class="table-cell p-2 text-left">Song</div>
    <div class="table-cell p-2 text-left">Artist</div>
    <div class="table-cell p-2 text-left">Album</div>
    <div class="table-cell p-2 text-left">Avg. Rating</div>
</div> 

{{#each ratings}}
{{> musiccharts}}
{{/each}}