<div class="container max-w-full">
    <div class="header border-b-2 ml-12">
    <h2 class="p-5 text-center"><strong>Welcome {{ username }}</strong></h2>
    </div>
    <div class="public-feed flex overflow-y-scroll justify-center max-w-full pb-4 pr-2.5 ml-12 border-b-8">
        <div class="make-post">
            <form class="flex flex-row">
                <div class="post-input flex p-5 focus:ring-2 focus:ring-blue-600">
                    <img class="w-12 h-12 mb-4 ml-12 rounded-full"
                        src="/images/alphabet/{{profileImg}}-letter.512x512.png" alt="user photo"
                        onerror="this.onerror=null; this.src='/images/alphabet/default-letter.512x512.png';">
                    <input type="text" placeholder="Share what you've been listening to" />
                    <button class="post-btn outline-black">Post</button>
                </div>
            </form>
        </div>
    </div>
    <div class="public-posts border-b-2 ml-12 p-5">
        {{!-- add in users profile picture and add an each to get other users posts --}}
        <ul class="flex justify-center">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium, minima magni vitae itaque reprehenderit. Iure, saepe nam nihil fugit assumenda soluta explicabo vitae! Eveniet doloribus placeat nulla commodi earum.</li>
        </ul>
    </div>
</div>


{{!-- <div>
    <div class="flex">
        <aside class="flex sidebar w-1/4">
            <section
                class="box-border h-40 p-4 border-2 text-left border-2 border-yellow-200 border-opacity-100 mb-8 rounded bg-yellow-50 ml-8 h-full shadow-lg">
                Your Current Top 5:</section>
            <ol class="top5-list">
                {{#each top5}}
                <li>{{this}}</li>
                {{/each}}
            </ol>
        </aside>
    </div>
</div> --}}
