<div class="container max-w-full">
    <div class="profile-picture ml-8">
        <img class="w-12 h-12 mb-4 ml-12 rounded-full" src="/images/alphabet/{{profileImg}}-letter.512x512.png"
            alt="user photo" onerror="this.onerror=null; this.src='/images/alphabet/default-letter.512x512.png';">
    </div>
</div>

<div class="profile-user text-left mb-8 ml-14 w-3/4"><strong>{{username}}'s Profile</strong></div>
<div class="flex justify-center">
    <aside class="flex sidebar w-1/4">
        <section
            class="text-blue-gray-100 font-sans text-l box-border max-h-screen h-40 p-4 border-2 text-left border-2 border-slate-900 border-opacity-100 mb-8 rounded bg-slate-300 ml-2 h-full shadow-lg">
            <strong>Recently Listened to:</strong>
            <ul class="recently-listened">
                {{!-- <li><img class="w-16 h-16  p-2 rounded-full" src="/images/dev-images/album-covers/album3.jpeg">
                    <p>song name</p>
                </li>
                <li><img class="w-16 h-16  p-2 rounded-full" src="/images/dev-images/album-covers/album4.jpeg">
                    <p>song name</p>
                </li> --}}
            </ul>
        </section>
    </aside>
    <div class="flex flex-col w-3/4 ml-8">
        <div
            class="text-center text-blue-gray-100 font-sans text-l border-2 border-slate-900 border-opacity-100 p-4 mb-8 rounded bg-slate-300 shadow-lg">
            <strong>{{username}}'s favorite artists:</strong><button data-modal-target="artist-modal"
                data-modal-toggle="artist-modal"
                class="text-3xl block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline"
                type="button">
                ＋
            </button>
            <ul class="artist-list">

                {{!-- <li><img class="w-32 h-32  p-2.5" src="/images/dev-images/artist-images/artist1.jpeg">Dominic Fike
                </li>
                <li><img class="w-32 h-32  p-2.5" src="/images/dev-images/artist-images/artist2.jpeg">The Yussef Dayes
                    Experience</li> --}}


            </ul>
        </div>
        <div
            class="text-center font-sans text-l antialiased leading-snug tracking-normal text-blue-gray-100 border-2 border-slate-900 border-opacity-100 p-4 mb-8 rounded bg-slate-300 shadow-lg">
            <strong>{{username}}'s favorite songs:</strong><button data-modal-target="song-modal"
                data-modal-toggle="song-modal"
                class="text-3xl block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline"
                type="button">
                ＋
                </button>
                <ul class="song-list divide-y divide-slate-900">
                    {{!-- <li class="list-item"><img class="w-32 h-32  p-2.5"
                            src="images/dev-images/album-covers/album1.jpeg">
                        <p>Ant Pile</p>
                    </li>

                    <li class="list-item"><img class="w-32 h-32  p-2.5"
                            src="/images/dev-images/album-covers/album2.jpeg">
                        <p>Self Care</p>
                    </li> --}}
                </ul>
        </div>
    </div>
</div>

{{!-- Modal for favorite artists --}}
<div id="artist-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Enter your favorite artist:
                </h3>
                <button id="artistCloseBtn" type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="artist-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="artistFormID" class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="artist"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Artist</label>
                        <input type="text" name="artist" id="favArtistInput"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Artist Name" required="">
                    </div>
                    <div class="col-span-2 flex justify-center">
                        <button id="enterBtn" type="submit"
                            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Enter
                        </button>

    {{!-- Modal for favorite songs --}}
    <div id="song-modal" tabindex="-1" aria-hidden="true"
                            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <!-- Modal header -->
                                    <div
                                        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                            Enter your favorite song:
                                        </h3>
                                        <button id="songCloseBtn" type="button"
                                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                            data-modal-toggle="song-modal">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    <!-- Modal body -->
                                    <form id="songFormID" class="p-4 md:p-5">
                                        <div class="grid gap-4 mb-4 grid-cols-2">
                                            <div class="col-span-2">
                                                <label for="name"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Song</label>
                                                <input type="text" name="name" id="favSongInput"
                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                    placeholder="Song Title" required="">
                                            </div>
                                            <div class="col-span-2">
                                                <label for="artist"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Artist</label>
                                                <input type="text" name="artist" id="favSongArtistInput"
                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                    placeholder="Artist Name" required="">
                                            </div>
                                            <div class="col-span-2 flex justify-center">
                                                <button id="enterBtn" type="submit"
                                                    class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">
                                                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor"
                                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                                            clip-rule="evenodd"></path>
                                                    </svg>
                                                    Enter
                                                </button>


                                                <script src="/js/profile.js"></script>