<div class="container max-w-full">
    <div class="profile-picture ml-8">
        <img class="w-12 h-12 mb-4 ml-12 rounded-full" src="/images/alphabet/{{profileImg}}-letter.512x512.png"
            alt="user photo" onerror="this.onerror=null; this.src='/images/alphabet/default-letter.512x512.png';">
    </div>
</div>

<div class="profile-user text-left mb-8 ml-14 w-3/4"><strong>{{username}}'s Profile</strong></div>
<div class="flex justify-center">
    <aside class="flex sidebar w-1/4">
        <section
            class="text-gray-700 font-sans text-l box-border max-h-screen h-40 p-4 border-2 text-left border-2 border-slate-900 border-opacity-100 mb-8 rounded bg-slate-300 ml-2 h-full shadow-lg">
            <strong>Recently Listened to:</strong>
            <ul class="recently-listened">
                {{#each recentlyPlayedTracks}}
                {{> recentlisten}}
                {{/each}}
            </ul>
        </section>
    </aside>
    <div class="flex flex-col w-3/4 ml-8">
        <div
            class="text-center text-gray-700 font-sans text-l border-2 border-slate-900 border-opacity-100 p-4 mb-8 rounded bg-slate-300 shadow-lg">
            <strong>{{username}}'s top rated artists:</strong>
            {{!-- top rated artists gets from database if an artists song was rated 5 stars --}}
            <ul class="artist-list flex overflow-x-scroll"> 
                {{#each artistImgUrl}}
                {{> favartist}}
                {{/each}}
                </ul>
        </div>
        <div
            class="text-center font-sans text-l antialiased leading-snug tracking-normal text-gray-700 border-2 border-slate-900 border-opacity-100 p-4 mb-8 rounded bg-slate-300 shadow-lg">
            {{!-- top rated songs gets from database if a song was rated 5 stars --}}
            <strong>{{username}}'s top rated songs:</strong>
                <ul class="song-list flex overflow-x-auto overflow-x-scroll">
                    {{#each albumImgUrl}}
                    {{> favsong}}
                    {{/each}}
                </ul>
        </div>
    </div>
</div>
     <script src="/js/profile.js"></script>