
<div class="flex">
    <!-- change username to correct -->
    <div class="profile-user text-left mb-8 ml-8 w-3/4"><strong>{{username}}'s Profile</strong></div>
</div>
<div class="inline-block">
    <aside class="flex sidebar w-1/4">
        <section class="box-border h-40 p-4 border-2 text-left border-2 border-blue-900 border-opacity-100 mb-8 rounded bg-blue-50 ml-8">Currently Listening to:</div>
    </aside>
 <div class="container inline-block">
<div class="text-center border-2 border-blue-900 border-opacity-100 p-4 mb-8 w-3/4 rounded bg-blue-50 ml-8">Favorite artists:
    <ul class="artist-list">
    </ul>
</div>
<div class="w-3/4 text-center border-2 border-blue-900 border-opacity-100 p-4 mb-8 rounded bg-blue-50 ml-8">Favorite songs:
    <ul class="song-list">
    </ul>
</div>
</div>
</div>
