<div class="container mx-auto my-5 p-5">
    <div class="md:flex no-wrap md:-mx-2">
        <!-- Left Side -->
        <div class="w-full md:w-3/12 md:mx-2">
            <!-- Profile Card -->
            <div class="p-3">
                <div class="image">
                    <div class="profile-picture flex flex-col items-center">
                        <img class="w-32 h-32 mb-4 rounded-full" src="/images/alphabet/{{profilePageImg}}-letter.512x512.png" alt="user photo" onerror="this.onerror=null; this.src='/images/alphabet/default-letter.512x512.png';">
                        <div class="text-white text-center w-full"><strong>{{profileUsername}}</strong></div>
                    </div>
                </div>
            </div>
            <!-- End of profile card -->
            <div class="my-4"></div>
            <!-- Recently Rated Card -->
            <div class="bg-gray-900 hover:shadow border-2 border-slate-900 border-opacity-100 mb-4">
                <section class="text-gray-700">
                    <div class="m-4 flex justify-center items-center text-white">
                        <strong>Recently Listened To:</strong>
                    </div>
                    <ul class="recently-rated">
                        {{#each recentlyRatedData}}
                        {{> recentrated}}
                        {{/each}}
                        {{#unless recentlyRatedData}}
                        <li class="bg-slate-300 text-center p-20">No recently listened tracks</li>
                        {{/unless}}
                    </ul>
                </section>
            </div>
            <!-- End of Recently Rated Card -->
        </div>
        <!-- Right Side -->
        <div class="w-full md:w-9/12 h-64">
            <!-- Profile tab -->
            <!-- Top Rated Artists Section -->
            <div class="sm:p-3 shadow-sm rounded-sm">
                <div class="text-center text-gray-700 font-sans text-l border-2 border-slate-900 border-opacity-100 rounded bg-slate-300 shadow-lg">
                    <div class="bg-gray-900 flex justify-center items-center text-white p-4">
                        <strong>{{profileUsername}}'s Top Rated Artists:</strong>
                    </div>
                    <ul class="artist-list flex overflow-x-scroll">
                        {{#each artistImgUrl}}
                        {{> favartist}}
                        {{/each}}
                        {{#unless recentlyRatedData}}
                        <li class="bg-slate-300 p-20 text-center flex-grow">No favorite artists...yet</li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
            <!-- End of Top Rated Artists Section -->
            <div class="my-4"></div>
            <!-- Top Rated Songs Section -->
            <div class="sm:p-3 shadow-sm rounded-sm">
                <div class="text-center font-sans text-l antialiased leading-snug tracking-normal text-gray-700 border-2 border-slate-900 border-opacity-100 rounded bg-slate-300 shadow-lg">
                    <div class="bg-gray-900 flex justify-center items-center text-white p-4">
                        <strong>{{profileUsername}}'s Top Rated Songs:</strong>
                        </div>
                    <ul class="song-list flex overflow-x-scroll">
                        {{#each albumImgUrl}}
                        {{> favsong}}
                        {{/each}}
                        {{#unless recentlyRatedData}}
                        <li class="bg-slate-300 p-20 text-center flex-grow">No favorite songs...yet</li>
                        {{/unless}}
                    </ul>
                </div>
            </div>
            <!-- End of Top Rated Songs Section -->
        </div>
        <!-- End of Right Side -->
    </div>
</div>
<script src="/js/profile.js"></script>