<div class="flex">
    <!-- change username to correct -->
    <div class="profile-user text-left mb-8 ml-8 w-3/4"><strong>{{log username}}{{username}}'s Profile</strong></div>
</div>
<div class="flex">
    <aside class="flex sidebar w-1/4">
        <section class="box-border h-40 p-4 border-2 text-left border-2 border-yellow-200 border-opacity-100 mb-8 rounded bg-yellow-50 ml-8 h-full shadow-lg">Currently Listening to:</section>
    </aside>
    <div class="flex flex-col w-3/4 ml-8">
        <div class="text-center border-2 border-yellow-200 border-opacity-100 p-4 mb-8 rounded bg-yellow-50 shadow-lg">Favorite artists:
            <ul class="artist-list">
            </ul>
        </div>
        <div class="text-center border-2 border-yellow-200 border-opacity-100 p-4 mb-8 rounded bg-yellow-50 shadow-lg">Favorite songs:
            <ul class="song-list">
            </ul>
        </div>
    </div>
</div>
