/* Flexbox to align stars from left to right */
#star-rating {
    display: flex;
    flex-direction: row-reverse; 
}

#edit-star-rating {
    display: flex;
    flex-direction: row-reverse; 
}
/* Default star color */
.text-gray-100 {
    color: #cbd5e0; 
}

/* Hover color */
.text-gray-100:hover,
input[type="radio"]:checked ~ label.text-gray-100 {
    color: #f59e0b; 
}

/* Checked color */
input[type="radio"]:checked ~ label.text-gray-100 {
    color: #f59e0b; 
}

/* Change preceding stars color on hover */
input[type="radio"]:hover ~ label.text-gray-100,
input[type="radio"]:checked ~ label.text-gray-100 {
    color: #f59e0b; 
}

.dim-svg {
    opacity: 0.25; 
  }
  